
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/vue.js"></script>
    <script src="~/axios.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/vuE/vue.js"></script>
    <title>添加</title>
</head>
<body>
    <div id="AccountAdd" class="modal-body">
        <table class="table table-hover">
            <tr>
                <td>角色名称</td>
                <td><input type="text" v-model="roleName" /></td>
            </tr>
            <tr>
                <td>
                    <button v-on:click="AddAccount()">添加</button>
                    <button type="button" data-dismiss="modal"> 关闭</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>
    var vm = new Vue({
        el: "#AccountAdd",
        type: "post",
        data: {
            roleName: "",
        },
        methods: {
            AddAccount: function () 
                var params = new URLSearchParams();
                params.append("roleName", this.roleName)
                axios.post('/role/Adds', params).then((response) => { alert('添加成功'); location.reload() }).catch(function (response) { alert('添加失败') })
            }
        }
    })
</script>
