
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/axios.js"></script>
<script src="~/vue.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
</head>
<body>
    <div id="app">
        <table v-show="RoleList.length">
            <tr>
                <td>姓名</td>
                <td><input id="Text1" type="text" v-model="RoleName" /></td>
            </tr>
            <tr>
                <td>
                    <a href="#" v-on:click="addUser(RoleName)">添加</a>             
                </td>
            </tr>

        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            RoleList: ['董事'],
            RoleName: ""
        },
        methods: {
            addUser: function (RoleName) {
                var params = new URLSearchParams();
                params.append("RoleName", RoleName);
                axios.post("http://localhost:52173/Role/AddRole", params).then(
                    (response) => {
                        alert("添加成功");
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
        },
    });
</script>



