@{
    ViewData["Title"] = "Index";
}

@*<script src="~/vue.js"></script>
    <script src="~/axios.js"></script>*@
<script src="~/Content/Vue.js"></script>
<script src="~/Content/axios.js"></script>
<h2>Index</h2>
<script src="~/Content/scripts/jquery-1.10.2.js"></script>
<div id="divstudents">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>角色名称</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in list">
                <td>{{item.roleId}}</td>
                <td>{{item.roleName}}</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    var vm = new Vue({
        el: "#divstudents",
        data: {
            list: []
        },
        mounted() {
            this.pagehandler();
        },
        methods: {
            pagehandler: function () {
                axios.get("http://localhost:52141/api/Role").then((response) => {
                    //console.table(response.data)
                    this.list = []
                    for (var i = 0; i < response.data.length; i++) {
                        this.list.push(response.data[i]);
                    }
                    console.log(this.list)
                });
            }
        }
    })
</script>
@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <script src="~/Scripts/axios.js"></script>
        <script src="~/Scripts/vue.js"></script>
    </head>
    <body>

        <div id="divstudents">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>角色名称</td>
                </thead>
                <tbody>
                    <tr v-for="item in list">
                        <td>{{item.RoleId}}</td>
                        <td>{{item.RoleName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script>
            var vm = new Vue({
                el: "#divstudents",
                data: {
                    list: []
                },
                mounted() {
                    this.pagehandler();
                },
                methods: {
                    pagehandler: function () {
                        axios.get(" http://localhost:52141/api/Role").then((response) => {
                            console.log(response)
                            this.list = []
                            for (var i = 0; i < response.data.length; i++) {
                                this.list.push(response.data[i]);
                            }
                            //console.log(this.list)
                        });
                    }
                }
            })
        </script>
    </body>
    </html>*@




