
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateRole</title>
</head>
<body>
<div id="app">
    <table v-show="RoleList.length">
        <tr>
            <td>姓名</td>.
            <td><input id="Text1" type="text" v-model="RoleName" /></td>
        </tr>
        <tr>
            <td>
                <a href="#" v-on:click="UpdateRole(RoleName)">修改</a>
                @*<input id="Button1" type="button" value="添加"  v-on:click='addUser(Name,Pwd,Age)'/>*@
            </td>
        </tr>

    </table>
</div>
</body>
</html>
<script type="text/javascript"> 
    var vm = new Vue({
        el: "#app",
        type:"post",
        data: {
            RoleList: ['董事'],
            RoleName: ""
        },
        methods: {
            addUser: function (Id) {
                var params = new URLSearchParams();
                params.append("RoleName", this.RoleName);

                // axios.post("http://localhost:52141/api/Role/AddRole", params).then(
                axios.post('@Url.Action("UpdateRole", "Role")', { Role: { Id: Id } }).then(
                    (response) => {
                        if (response.data > 0) {
                            this.getAllUser(this.cur);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function(response) {
                    alert(response);
                });
            },
        },
    });
</script>
