
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateUser</title>
    <script src="~/Content/axios.js"></script>
    <script src="~/Content/Vue.js"></script>
</head>
<body>
<div id="app">
    <table v-show="RoleList.length">
        <tr>
            <td>姓名</td>
            <td><input id="Text1" type="text" v-model="RoleName" /></td>
        </tr>
        <tr>
            <td>
                <a href="#" v-on:click="UpdateUser(RoleName)">提交</a>
            </td>
        </tr>

    </table>
</div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
         
            RoleName:""
        },
        methods: {
            addUser: function (Id) {
                axios.post('@Url.Action("UpdateUser", "Role")', { role: { Id: Id } }).then(
                    (response) => {
                        if (response.data > 0) {
                            this.getAllUser(this.cur);
                        }
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });
            },
        },

    });
</script>
