
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />

        <script src="~/axios.js"></script>
        <script src="~/vue.js"></script>
        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    @*引入ECharts文件*@
    @*<script src="~/Scripts/echarts.min.js"></script>*@
    <script src="~/Scripts/ECharts.js"></script>

    <title>Index</title>
</head>
<body>
    @*<div>
             <input id="Button1" type="button" value="首页" class="btn btn-danger" />
             <input id="Button1" type="button" value="目标管理" class="btn btn-danger" />
             <input id="Button1" type="button" value="进度查询" class="btn btn-danger" />
             <input id="Button1" type="button" value="结果统计" class="btn btn-danger" />
             <input id="Button1" type="button" value="系统管理" class="btn btn-danger" />
         </div>

        <div>
            <table>
                <tr>
                    <td>我的待阅</td>
                </tr>
                <tr>
                    <td>业务名称</td>
                    <td>完成情况</td>
                    <td>级别</td>
                    <td>责任人</td>
                    <td>完成时间</td>
                </tr>
            </table>
        </div>*@
   
</body>
</html>
